/* .container > div {
  float: right;
} */

/* sign-up for user/// Start */
body {
  background-color: rgba(190, 214, 233, 0.5);
}
.in {
  float: right;
}
.container > div:first-child {
  width: 40%;
  margin-left: 10%;
  margin-top: 167px;
}
.container > div:last-child {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.img {
  width: 32%;
  height: 93vh;
  padding: 10px;
  position: absolute;
  top: 2%;
  left: 15%;
  border-radius: 24px;
}

/* sign-up for user/// End */

/* Landing page  // start */
.landingimg {
  background: url(../src/Componants/Pictures/restaurant.jpg) center center;
  filter: blur(1px);
  background-size: cover;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 50vh;
  margin-top: 5%;
}

.landingparagraph {
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.buttons {
  text-align: center;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 60vh;
}
