/* .container > div {


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

.in {
  float: right;
}

/* .btn{
  background-color: yellow;
} */

/* sign-up for user/// Start */
body {
  background-color: rgba(190, 214, 233, 0.5);
  font-family: 'Bitter', serif;
}

.in {
  float: right;
}

.container > div:first-child {
  width: 40%;
  margin-left: 10%;
  margin-top: 70px;
}

.container > div:last-child {
  width: 50%;
  height: 91vh;
  overflow: hidden;
}

.img {
  width: 31%;
  height: 87vh;
  padding: 10px;
  position: absolute;
  top: 8%;
  left: 15%;
  border-radius: 24px;
}

/* sign-up for user/// End */

/* Landing page  // start */
.landingimg {
  background: url(../src/Componants/Pictures/restaurant.jpg) center center;
  filter: blur(1px);
  background-size: cover;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 50vh;
  margin-top: 5%;
}

.landingparagraph {
  text-align: center;
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.buttons {
  text-align: center;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 60vh;
}
  
#btn{
  background-color: #c67506;
  color:white;
}

/* #btn :hover{
  background-color: grey;
} */

body{
  font-family: 'Bitter', serif;
  background-color: rgb(190, 214, 233, 0.5);
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  color:#585756;
}
