.topnav {
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f64f0f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #c67506; */
  font-size: 22px;
  /* text-underline-position: auto; */
  /* color:#585756; */
  border-radius: 10px;
}

/* Add a color to the active/current link */
/* .topnav a.active {
    background-color: #4CAF50;
    color: white;
  } */
fontface {
  font-family: 'Bungee Inline', cursive;
  src: url('https://fonts.googleapis.com/css?family=Bungee+Inline');
}

body {
  /* font-family: 'Bungee Inline', cursive; */
  font-family: Montserrat-Regular;
}

.right {
  float: right;
  margin-right: 20px;
}

/* a{
    font-family: 'Bitter', serif;

  } */
#logo {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 210px;
  height: 45px;
  overflow: hidden;
}

.righ{
  margin-top: -2px;
  height: 2px;
  width: 0%;
  background: #f64f0f;
  transition: 0.2s all ease-in;
  float: right;
  margin-right: 20px;
}
.righ:hover  {
  width: 100%;
}

