.bg2 {
  background-color: #f2f2f2;
  color: blue;
}
.p-t-50 {
  padding-bottom: 95px;
}
.p-b-95 {
  padding-top: 50px;
}
.con1 {
  max-width: 1200px;
}

.row1 {
  display: -ms-flexbox;
  display: flex;
  /* ms-flex-wrap: wrap; */

  margin-right: -15px;
  margin-left: -15px;
}

.s1-txt3 {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #666;
  line-height: 1.5714;
}
.m2-txt2 {
  font-family: PlayfairDisplay-Bold;
  font-size: 26px;
  color: #333;
  line-height: 1.2;
}
.car31 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 200px;
  margin-right: 50px;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.m2-txt2 {
  font-family: PlayfairDisplay-Bold;
  font-size: 26px;
  color: #333;
  line-height: 1.2;
}

.s1-txt3 {
  font-family: Montserrat-Regular;
  font-size: 14px;
  color: #666;
  line-height: 1.5714;
}
.p-b-17 {
  padding-bottom: 17px;
}
.mar {
  margin: 30px;
}
.col-sm-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-sm-6,
.col-lg-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.hsize1 {
  height: 120px;
}

.flex-m {
  align-items: center;
}
.bg3 {
  background-color: #666;
}
.car30 {
  margin-left: 50px;
}
.ContactUs {
  font-size: 18px;
  margin-left: 35px;
  margin-top: -15px;
  color: #666;
}
.bg4 {
  background-color: #333;
}
.s1-txt7 {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #666;
  line-height: 1.5714;
}
.txt-center {
  text-align: center;
}
.p-r-15 {
  padding-right: 15px;
}
.p-l-15 {
  padding-left: 15px;
}
.p-b-28 {
  padding-bottom: 28px;
}
.p-t-28 {
  padding-top: 28px;
}
