

body{
    font-family: 'Bitter', serif;

} 
/* 
#form{
    margin-right:400px;
} */

.in {
    float: right;
  }
  .container1 > div:first-child { 
    width: 39%;
    /* margin-left: 2%; */
    margin-top: 50px;
    margin-right: 5px;
  }
  .container1 > div:last-child {
    width: 60%;
    height: 100vh;
    overflow: hidden;
    background-position: top;
  }

  .img {
    width: 32%;
    height: 93vh;
    padding: 10px;
    position: absolute;
    top: 2%;
    left: 15%;
  }
  
  
  
  
  
  
  