#basket{
    text-align:center;
    background-color: grey;
    color:white;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  /* #restranut{
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    margin-top: 70px;
    background-color: rgba(87, 89, 102, 0.548);
    margin-left:300px;
    margin-right: 300px;
    padding-bottom: 30px;
    border-radius: 30px;
    color:white
  } */